/* 
CONTENT:
 - Defaults
 - Nav bar
 - Main Container
 - Buttons

*/

/* ===== DEFAULTS ===== */
* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;

  margin: 0;
}

ul {
  list-style-type: none;
  display: inline-flex;
}

/* ===== NAV BAR ===== */
#nav-bar {
  position: absolute;
}

/* ===== MAIN CONTAINER ===== */
#main-container {  
  /* content display */
  display: grid;
  grid-template-columns: 1fr 5fr 5fr 1fr;
  grid-template-rows: 1fr 10fr 2fr;
  
  justify-content: space-between;
  align-items: flex-end;

  box-sizing: border-box;
  max-width: 100vw;
  height: 100%;

  background-color: cornflowerblue;
}

#main-container > h1 {
  /* placement in grid */
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

#main-container > p {
  /* placement in grid */
  grid-column: 1 / -1;
  grid-row: 2/ 3;

  /* size */
  width: 100%;
  height: 5em;

  /* form */
  padding: 2em;

  /* hide away owerflow */
  overflow-y: hidden;

  /* FIGMA COPY/PASTA */
  background: rgba(87, 87, 87, 0.4);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5), inset 0px 10px 6px rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(7px);
}

#button-wrapper {
  grid-column: 1 / 4;
  grid-row: 3 / 4;

  width: 100%;
  height: 100%;
}

#button-wrapper > ul {
  /* content display */
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

/* ===== BUTTONS ===== */
.button {
  font-size: calc(var(--font-size) * 2/4);
  background-color: var(--palette-interactive-neutral);
  color: var(--palette-interactive-neutral-text);

  /* shape */
  border-radius: 15px;
  padding: .25em .5em;
  margin: 1em;

  /* animation */
  transition: all 100ms ease-in;
}
@media (any-hover) {
  .button:hover {
    outline: 4px ridge rgba(167, 152, 174, 0.6);
    border-radius: 2rem;
  }
}
.button:active {
  outline: 4px ridge rgba(167, 152, 174, 0.6);
  border-radius: 2rem;
  box-shadow: inset 2px 2px 4px black;

  transform: translateY(1px);
}

.buy {
  padding-left: 4em;
  padding-right: 4em;

  background-color: var(--palette-interactive-buy);
  color: var(--palette-interactive-buy-text);
}

         
/* ===== COPY/PASTA WEB ===== */